/* nav styles */
.navbar-custom {
    background-color: black;
    padding: 0.25em;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: 0.2em;
}

/*/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: white;
    margin: 0.5em;
    padding: 0 1em;
}

/*/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: gold;
}

/* change the hamburger button button outline color when it is clicked */
.navbar-toggler:focus, .navbar-toggler:active {
    outline-color: gold;
    margin: 0.5em; /* Set margin to align the border with menu text */
}

.btn-custom {
    display: inline-block; /* Allows us to set dimensions */
    background-color: black; 
    color: white; /* white text */
    padding: 30px 30px; /* Top and bottom padding, left and right padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from links */
    font-size: 13px;
    font-weight: bold; /* Optional: makes the text bold */
    border-radius: 20px; /* Rounded corners - adjust as needed */
    border: 2px white;
    border-style: solid;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

.btn-custom:hover {
    background-color: gold; /* Slightly darker yellow on hover */
    color: #000000 !important; /* You can change the text color on hover if needed */
    text-decoration: none; /* Ensure the underline doesn't reappear on hover */
}

.active {
    color: gold !important; /* You can change the text color when button is clicked */
}
