#book {
    width: 30%;
   
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 5px;
    border-color: black;

}

.page {
    position: relative;
    margin: 5% 10% 0 10%;
    padding: 50% 0;
    text-align: justify;
    overflow-y: scroll;
    border-style: groove;

}

.page::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.page-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

button {
    color: #fff; /* White text */
    background-color: black; /* Bootstrap primary blue */
    border-color: black; /* Border color to match */
    padding: 10px 20px; /* Button padding */
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Align button correctly */
    border-radius: 5px !important; /* Rounded button edges */
    margin-top: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}
button:hover{
    background-color: gold; 
    border-color: gold; /* Border color on hover */
    color: #000;
}
#pageNumber {
    margin: 0 15px;
}

.back-arrow {
    position: relative; /* Adjust based on your layout, you might need absolute or fixed depending on your navbar's behavior */
    z-index: 10;
    margin-top: 20px; /* Adjust this value based on your navbar's height */
    margin-bottom: 20px;
    margin-left: 20px; /* Space from the left edge */
}

.back-arrow a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px; /* Width of the clickable area */
    height: 40px; /* Height of the clickable area */
    border-radius: 20px; /* Makes it circular */
    background-color: #f0f0f0; /* Background color of the button */
    color: #000; /* Color of the arrow */
    text-decoration: none;
}

.back-arrow a:hover {
    background-color: #e0e0e0; /* Slightly darker on hover */
}

.back-arrow svg {
    stroke: currentColor; /* SVG color inherits from anchor color */
    
}
.item-details-container {
    font-family: 'Poppins', sans-serif; /* Or your chosen font */
}

.item-details-container h1, .product-details h2 {
    margin-bottom: 10px;
}

.product-details p {
    font-size: 16px; /* Adjust based on your design */
    line-height: 1.5;
    margin-bottom: 10px;
}

.book-details p {
    font-size: 16px; /* Adjust based on your design */
    line-height: 1.5;

}

.book-details {
    background-color: #f8f9fa; /* Light grey background for contrast */
    padding: 15px;
    border-radius: 5px; /* Optional: adds rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Soft shadow for depth */
}

.book-details h3 {
    color: #333; /* Darker text for the section heading */
}

.book-details p strong {
    color: #000; /* Ensures strong elements are visually distinct */
}
